.panel-body {
    background:white;
    border-radius: 30px;
    min-height: 1100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.panel-body.inside{

    width:1600px; 
    min-height: 400px;
    background-color: #CEE2FB;
    margin-top: 30px; 
    margin-left: 80px; 
    margin-right: 80px;
}